################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/netcoreapp3.1
/.vs/DynamicFilter/DesignTimeBuild/.dtbcache.v2
/bin/Debug/netcoreapp3.1
/obj
